/nbproject/*
/vendor/*

/uploads/*
#кроме конкретного файла:
!uploads/.gitkeep


/web/assets/*
!/web/assets/.gitkeep
/.idea/*

#игнорируем локальные конфигурационные файлы
/application/config/*-local.php